.login__container {
  height: 100vh;
  //   display: flex;
  position: relative;
  width: 100%;
  background-color: #eeeeee;
  //   margin: 0 !important;
  padding: 1rem !important;
}
.container__body {
  position: absolute;
  max-height: 40rem;
  height: 100%;
  width: 70rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 10px 10px 5px #e0dbdb;
  border-radius: 1rem;
}

.split {
  display: flex;
  height: 100%;
  position: relative;
  & > * {
    flex-basis: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    &__img {
      // object-position: center;
      // object-fit: cover;
      //   position: absolute;
      margin-top: 5rem;
      // width: 35rem;
      // max-height: 50vh !important;
      margin-bottom: 2rem;
      max-height: 50vh !important;
      height: 100% !important;
    }
    &__text {
      margin-top: 1rem;
      text-align: center;
      font-size: 1.05rem;
      font-weight: 400;
      // cursor: pointer;
    }
  }

  &__right {
    // background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;

    &__text {
      font-weight: 700;
      font-size: 3rem;
      letter-spacing: 0.1rem;
      margin-bottom: 2.5rem !important;
    }

    &__login {
      height: auto;
      margin-bottom: 3.5rem;
    }

    &__other {
      overflow: hidden;
      text-align: center;
      font-size: 1rem;

      &:before,
      &:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }

      &:before {
        right: 0.5em;
        margin-left: -50%;
      }

      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
  }
}

.split__right__wrapper {
  width: 80%;
  height: 80%;
  padding: 3rem;
}

.fab {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: #4285f4;
  cursor: pointer;
}
