.header {
    height: 20vh;
    position: relative;
}

.header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.todo-text {
    width: 40vw;
    height: 5vh;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: 0.15em;
    border: 2px solid black;
}

.todo-text:focus {
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    border: none;
    transform: translateY(-3px);
}

.todo-list {
    border-radius: 1px;
    width: 70%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    /* justify-content: space-between; */
}