.nav {
    text-align: start;
    height: 4rem;
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-text {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding-left: 10px;
}

.nav-button {
    font-family: 'Montserrat', sans-serif;
    width: 8rem;
    margin: auto 10px auto auto;
    margin-left: auto;
    padding: 10px;
    height: 70%;
    border: none;
    border-radius: 50px;
    background: black;
    color: white;
    letter-spacing: 0.06rem;
}

.nav-button:hover {
    background: white;
    border: 1.5px solid black;
    color: black;
    transition: 0.3s all ease-out;
}